body {
  background-color: rgb(41, 40, 40);
  color: rgb(247, 206, 230);
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 50px;
  text-align: center;
  line-height: 60px;
}

h2 {
  text-align: center;
  padding: 20px 0px 80px;
}

a {
  text-decoration: none;
  color: rgb(247, 206, 230);
}

li {
  list-style: none;
  font-size: 10px;
  text-transform: capitalize;
}

ul {
  margin: 0px;
  padding: 0px;
}

.bg-dark {
  --bs-bg-opacity: 0;
  border: solid;
  border-radius: 15px;
}

.card-body {
  background-color: black;
  padding: 0;
}

.col-4 {
  padding: 15px;
  border: solid;
  border-radius: 15px;
}

.futureDays {
  padding: 15px;
  border-radius: 15px;
}

.description {
  opacity: 0.8;
  font-size: small;
}

.extrainfo {
  opacity: 0.9;
  font-size: small;
  padding: 0px 80px;
}

.temperature {
  font-size: 15px;
}

.temperatureUnits {
  text-align: right;
  display: block;
}

.todayDate {
  text-align: center;
  display: block;
  padding: 30px;
  font-size: 25px;
}

.todayTemperature {
  font-size: 60px;
  position: relative;
  top: 32px;
}

.units {
  position: relative;
  right: 7px;
}

.weather-app {
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  background-clip: content-box, padding-box;
  background-image: linear-gradient(to bottom, black, rgb(97, 90, 90)),
    linear-gradient(to bottom, rgb(0, 0, 0) 0%, grey 100%);
  box-shadow: 0em 0 3.4em black;
}

.weather-icon {
  height: 100px;
  position: relative;
  top: -8px;
}

#currentLocation {
  background-color: black;
  border-color: white;
  border-radius: solid;
  position: relative;
  left: 6px;
}

#currentLocation:hover {
  transition-delay: 2ms;
  background: white;
  color: black;
  border-color: black;
  border-radius: solid;
}
