/* alphabetically listed for each section */
a {
  color: rgb(247, 206, 230);
  text-decoration: none;
}

body {
  background-color: rgb(0, 0, 0);
  color: rgb(247, 222, 236);
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  font-size: 10px;
  text-align: center;
}

/* add a footer hover */
footer a:hover {
  color: yellow;
}

h1 {
  font-size: 50px;
  line-height: 60px;
  text-align: center;
}

h2 {
  padding: 20px 0px 80px;
  text-align: center;
}

li {
  list-style: none;
  font-size: 10px;
}

ul {
  margin: 0px;
  padding: 0px;
}

/* alphabetically listed for each class */
.bg-dark {
  --bs-bg-opacity: 0;
}

.btn {
  box-shadow: 4px 2px 15px black;
}

.extra-info {
  font-size: 15px;
  opacity: 0.8;
}

.last-updated-time {
  display: block;
  font-size: 10px;
  opacity: 0.6;
  text-align: center;
}

.temperature {
  font-size: 15px;
}

.today-info {
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  box-shadow: 4px 6px 12px black;
  padding: 20px;
}

.today-temperature {
  font-size: 70px;
}

.temperature-units {
  text-align: center;
}

.units {
  position: relative;
  top: -38px;
}

.weather-app {
  background: linear-gradient(
    153deg,
    rgb(20, 19, 19),
    #13174e 43%,
    rgb(20, 19, 19)
  );
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  margin: 20px auto;
  max-width: 450px;
  padding: 20px;
}

.weather-forecast {
  border: 2px solid rgb(247, 206, 230);
  border-radius: 15px;
  box-shadow: 4px 6px 12px black;
  padding: 20px;
  text-align: center;
}

.weather-forecast-date {
  font-size: 15px;
  opacity: 0.9;
}

.weather-icon {
  height: 105px;
  width: 100px;
}

.weather-forecast-temperatures {
  font-size: 10px;
}

.weather-forecast-temperature-max {
  opacity: 0.8;
}
.weather-forecast-temperature-min {
  opacity: 0.6;
}

/* alphabetically listed for each ID */

#currentLocation {
  background-color: #13153a;
  border-color: white;
  border-radius: solid;
  box-shadow: 4px 2px 15px black;
  left: 6px;
  position: relative;
}

#currentLocation:hover {
  border-color: black;
  border-radius: 2px solid #6e7080;
  background: white;
  color: black;
  transition-delay: 2ms;
}

#currentLocation:active {
  border-color: #6e7080;
  box-shadow: -3px -3px 2px #6e7080, 3px 3px 2px #6e7080;
}

#description {
  text-transform: capitalize;
}
